<div class= "panel panel-default center-block text-center">
	<div class="panel-heading">
  		<h1>New question</h1>
	</div>
	<div class="panel-body">
		<%= render 'form' %>
		<%= link_to 'Back', :back %>
	</div>
</div>
