<div class= "panel panel-default center-block text-center">
	<div class="panel-heading">
		<h1>Search user</h1>
	</div>
		<div class="panel-body">

		<%= form_tag({controller: 'friendships', action: 'fetch_users'}, method: :get, remote: true) do %>
			<%= text_field_tag :username %>
			<%= submit_tag 'Search' %>
		<% end %>

		<div class="status-pending-request">
		</div>

		<div class="js-fetched-users">

		</div>
	</div>
</div>
