<% content_for :header do %>
    <h1>Search user</h1>
<% end %>

<%= form_tag({controller: 'friendships', action: 'search'}, method: :get) do %>
	<%= text_field_tag :username, @username %>
	<%= submit_tag 'Search' %>
<% end %>

<% if @users_joined_with_friendships.present? %>
    <%= render 'search_users_results' %>
<% end %>
