<% content_for :header do %>
    <h1>Search user</h1>
<% end %>

<%= form_tag({controller: 'friendships', action: 'fetch_users'}, method: :get, remote: true) do %>
	<%= text_field_tag :username %>
	<%= submit_tag 'Search' %>
<% end %>

<div class="js-fetched-users"> </div>

