<div class= "panel panel-default center-block text-center">
	<div class="panel-heading">
		<h1> YEAH </h1>
	</div>
		<div class="panel-body">
			<%= button_to "Main Menu", root_path, :class => "button", :method => :get %>
		</div>
	</div>
</div>
