<h2>Question Title</h2>

<%= button_to "Answer 1", one_player_game_flow_score_path, :class => "button", :method => :get %>
<%= button_to "Answer 2", one_player_game_flow_score_path, :class => "button", :method => :get %>
<br>
<%= button_to "Answer 3", one_player_game_flow_score_path, :class => "button", :method => :get %>
<%= button_to "Answer 4", one_player_game_flow_score_path, :class => "button", :method => :get %>